@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-base-100;
}

:root {
  --gutter: 1rem;
  --wrapper-width: clamp(16rem, 93vw, 85rem);
}

.wrapper {
  width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 14rem), 1fr)
  );
  gap: var(--gutter, var(--space-s-l));
}

.auto-grid[data-fit="auto-fit"] {
  --grid-placement: auto-fit;
}

.auto-grid[data-fit="two-columns"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  gap: 1.5rem;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.sidebar {
  --sidebar-target-width: 25rem;
  --sidebar-space: 2rem; 

  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space, var(--gutter));
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width);
  flex-grow: 1;
  min-width: 0;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}
